:root {
    --color-base-hue: 225;
    --color-danger-hue-offset: 180;
    --color-danger-hue: calc(var(--color-base-hue) - var(--color-danger-hue-offset));
    --color-background-dark: hsl(var(--color-base-hue), 75%, 10%);
    --color-background-light: hsl(var(--color-base-hue), 75%, 20%);
    --color-text-light: hsl(var(--color-base-hue), 100%, 87%);
  }